.fa-save {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    /* border-color: 2px solid black; */
}

.jumbotron {
    text-align: center;
    color: white;
}

.today {
    color: white;
}

.page-header{
    text-align: center;
    color:white;
    background-color: blue;
}

.past_time {
    background-color: lightcoral;
}

.current_time {
    background-color: lightgreen;
}

.future_time {
    background-color: lightblue;
}